/* font-weight: thin/100 */
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 100;
    src: local('SVN-Gilroy Thin'), url("SVN-Gilroy\ Thin.otf") format('truetype');
}
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 100;
    src: local('SVN-Gilroy Thin Italic'), url("SVN-Gilroy\ Thin\ Italic.otf") format('truetype');
}

/* font-weight: UltraLight/200 */
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 200;
    src: local('SVN-Gilroy UltraLight'), url("SVN-Gilroy\ Xlight.otf") format('truetype');
}
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 200;
    src: local('SVN-Gilroy UltraLight Italic'), url("SVN-Gilroy\ Xlight\ Italic.otf") format('truetype');
}

/* font-weight: light/300 */
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 300;
    src: local('SVN-Gilroy Light'), url("SVN-Gilroy\ Light.otf") format('truetype');
}
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 300;
    src: local('SVN-Gilroy Light Italic'), url("SVN-Gilroy\ Light\ Italic.otf") format('truetype');
}

/* font-weight: regular/400 */
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local('SVN-Gilroy Regular'), url("SVN-Gilroy\ Regular.otf") format('truetype');
}
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 400;
    src: local('SVN-Gilroy Regular Italic'), url("SVN-Gilroy\ Italic.otf") format('truetype');
}

/* font-weight: medium/500 */
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    src: local('SVN-Gilroy Medium'), url("SVN-Gilroy\ Medium.otf") format('truetype');
}

@font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 500;
    src: local('SVN-Gilroy Medium Italic'), url("SVN-Gilroy\ Medium\ Italic.otf") format('truetype');
}

/* font-weight: SemiBold/600 */
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 600;
    src: local('SVN-Gilroy SemiBold'), url("SVN-Gilroy\ SemiBold.otf") format('truetype');
}
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 600;
    src: local('SVN-Gilroy SemiBold Italic'), url("SVN-Gilroy\ SemiBold\ Italic.otf") format('truetype');
}

/* font-weight: Bold/700 */
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 700;
    src: local('SVN-Gilroy Bold'), url("SVN-Gilroy\ Bold.otf") format('truetype');
}
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 700;
    src: local('SVN-Gilroy Bold Italic'), url("SVN-Gilroy\ Bold\ Italic.otf") format('truetype');
}

/* font-weight: ExtraBold  /800 */
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 800;
    src: local('SVN-Gilroy ExtraBold '), url("SVN-Gilroy\ XBold.otf") format('truetype');
}
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 800;
    src: local('SVN-Gilroy ExtraBold Italic'), url("SVN-Gilroy\ XBold\ Italic.otf") format('truetype');
}

/* font-weight: Black  /900 */
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 900;
    src: local('SVN-Gilroy Black '), url("SVN-Gilroy\ Black.otf") format('truetype');
}
@font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 900;
    src: local('SVN-Gilroy Black Italic'), url("SVN-Gilroy\ Black\ Italic.otf") format('truetype');
}